body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-container {
    width: 100%;  /* Make the button container take up the full width */
    display: flex;
    flex-direction: column;
    align-items: stretch;  /* This will make the buttons stretch to fill the container */
    gap: 1rem;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #6200ea;  /* Make the title purple */
}

.submit-button {
    width: 100%;  /* Make the button stretch to full width of its container */
    padding: 10px;
    background-color: #6200ea;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.submit-button:hover {
    background-color: #3700b3;
}

/* Mobile-friendly adjustments */
@media (max-width: 600px) {
    .container {
        width: 90%;
        margin: auto;
        padding: 15px;
    }
}


.error-message {
    color: red;
    margin-bottom: 15px;
}

/* Common class for all form inputs */
.form-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    margin-top: 5px;
}